body {
  padding: 20px;
}

.App {
  margin: 0 auto;
  /*margin 0 auto는 화면 상에 남는 부분을 자동으로 마진 설정->가운데 배치*/
  width: 400px;
  /*App component가 400px의 너비*/
}

.App > section {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}